.list_container {
  display: flex;
  flex-direction: column;
  height: 28px;
}

.list_items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 22px;
}

.list_items p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #757575;
}

.fold_icon {
  width: 5px;
  height: 9px;
  margin-right: 11px;
}

.group_icon {
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 14px;
  margin-right: 9px;
}

.dropdown {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
  line-height: 28px;
  margin-bottom: 10px;
  padding-left: 44px;
}

.dropdown.null {
  padding-left: 16px;
  line-height: 16px;
}
