@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// colors code
$primary: #446df6;
$success: #33ca7f;
$danger: #e01541;
$dark: #121614;
$light: #a4b1aa;

*, *::after, *::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: grid;
    place-items: center;
    padding: 2rem;
    color: $dark;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($dark, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-out;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .modal {
        max-width: 700px;
        max-height: 80vh;
        overflow: auto;
        background-color: #fff;
        padding: 2rem;
        position: relative;
        

        .modal_title {
            font-size: 2rem;
            line-height: 1.2rem;
            margin-bottom: 1rem;
            max-width: 85%;
        }

        .modal_btn {
            position: absolute;
            top: .5rem;
            right: .5rem;
            color: $dark;
            font-size: 1.5rem;
            line-height: 1.5rem;
            height: 40px;
            width: 40px;
            cursor: pointer;
            border: 2px solid $dark;
            border-radius: 50%;
            background-color: white;
            // box-shadow: 2px 4px 7px 2px rgba($dark, .2);
            transition: all 250ms ease-out;

            &:hover, &:focus {
                outline: none;
                border: 3px solid $light;
                color: $light;
                box-shadow: none;
            }
        }
    }
}

.form-container {
    max-width: 1000px;
    margin: 1rem auto;

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        color: $success;
        text-align: center;
    }

    .message {
        margin: 1rem 0 1.5rem;
        color: white;
        padding: 1rem;
        text-align: center;

        &.success-message {
            background-color: $success;
            box-shadow: 2px 4px 7px 2px rgba($success, .2);
        }

        &.remove-message {
            background-color: $primary;
            box-shadow: 2px 4px 7px 2px rgba($primary, .2);
        }

        &.alert-message {
            background-color: $danger;
            box-shadow: 2px 4px 7px 2px rgba($danger, .2);
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    min-width: 500px;
    width: 100%;

    label, input, textarea {
        font-family: inherit;
        font-size: inherit;
    }

    [for="title"], [for="note"] {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
        grid: 1rem;
        background-color: rgba($light, .2);
        font-weight: bold;
        margin-bottom: 0.5rem;

        input, textarea {
            border: 3px solid $light;
            padding: .5rem;
            color: $dark;
            width: 100%;

            &:focus {
                outline: 2px solid $dark;
            }
        }
    }
    [type="submit"] {
        background-color: $success;
        box-shadow: 3px 5px 8px 2px rgba($success, .2);
        border: 3px solid transparent;
        font-size: 1.3rem;
        color: white;
        padding: .5rem;
        cursor: pointer;
        transition: all 250ms ease-in-out;
        text-transform: uppercase;

        &:hover, &:focus {
            outline: none;
            box-shadow: none;
            border: 3px solid rgba($dark, .5);
        }
    }
}

.note-container {
    max-width: 500px;
    margin: 2rem auto 1rem;
    display: flex;
    flex-direction: column;
}

.note {
    border: 3px solid rgba($primary, .2);
    padding: 1.5rem;
    transition: all 250ms ease-out;
}

.note_title {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.note_body {
    overflow: hidden;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}

.note_btns {
    .note_btn {
        width: 220px;
        display: inline-flex;
        justify-content: space-around;
        font-family: inherit;
        font-size: inherit;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        color: white;
        cursor: pointer;
        transition: all 250ms ease-out;

        &:focus, &:hover {
            box-shadow: none;
        }
    }

    .note_view {
        background-color: $primary;
        box-shadow: 2px 4px 7px 2px rgba($primary, .2);
    }

    .note_delete {
        background-color: $danger;
        box-shadow: 2px 4px 7px 2px rgba($danger, .2);
    }
}